 .shipping-form{
    margin-top: 0 !important;
    
}
.shippinglabel{
    margin-top: 1.4rem;
}
.col-md-6{
    padding-left: 30px;
    padding-right: 30px;
}

.paypalimg{
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
}
.paypallabel{
    margin-left: 1.5rem;
    font-weight: bold;
}
#paypal{
    margin-left: 0.2rem;
    margin-top: 1rem;
}
#stripe{
    margin-left: 0.2rem;
    margin-top: 1rem;
}
.paymentcard{
    width: fit-content;
    margin: auto;    
    box-shadow: 10px 0 20px 0 rgba(100, 100, 100, 0.26);
    
}